<h1> About us</h1>

<p>
We strive to help you learn Git. It's our passion. Ya know?
</p>

<p>
<%= link_to 'Home', home_path %>
</p>

<p> Sometimes i get sad </p>

<p> Sometimes i get sad </p>
<p> Sometimes i get sad </p>
<p> Sometimes i get sad </p>
<p> or dogo </p>
<p> or happy </p>


<p> Our mission is to provide an optimal serive to help you learn how to 

git effectively </p>

<p> Our mission is to provide an optimal serive to help you learn how to 

git effectively </p>

<p> Our mission is to provide an optimal serive to help you learn how to 

git effectively </p>

