<h1>Welcome to the Git Demo Web Application</h1>

<p>We really hope that this is helpful! >_>
</p>

<ul>
<li><%=link_to 'About', about_path %>
</ul>
<p> Sometimes i get sad </p>
<p> Sometimes i get sad </p>
<p> Sometimes i get sad </p>
<p> or dogo </p>
<p> or happy</p>



<p> All of your dreams about using Git will come true </p>

<p> All of your dreams about using Git will come true </p>

<p> All of your dreams about using Git will come true </p>

<p> All of your dreams about using Git will come true </p>

